{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">

            <div class="row g-5">
                <div class="col-lg-4">
                    <h3 class="footer-heading">About DjangoBlog</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem
                        deleniti voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis
                        qui aliquid blanditiis omnis quae. Explicabo?</p>
                    <p><a href="{% url 'about' %}" class="footer-link-more">Learn More</a></p>
                </div>
                <div class="col-6 col-lg-3">
                    <h3 class="footer-heading">Quick Links</h3>
                    <ul class="footer-links list-unstyled">
                        <li><a href="{% url 'index' %}"><i class="bi bi-chevron-right"></i> Home</a></li>
                        <li><a href="{% url 'all-posts' %}"><i class="bi bi-chevron-right"></i> All Posts</a></li>
                        <li><a href="{% url 'about' %}"><i class="bi bi-chevron-right"></i> About us</a></li>
                        {#              <li><a href="contact.html"><i class="bi bi-chevron-right"></i> Contact</a></li>#}
                    </ul>
                </div>

                <div class="col-lg-5">
                    <h3 class="footer-heading">Recent Posts</h3>

                    <ul class="footer-links footer-blog-entry list-unstyled">
                        {% for post in footer %}
                            <li>
                                <a href="{% url 'single-post' post.slug %}" class="d-flex align-items-center">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">{{ post.category }}</span>
                                            <span class="mx-1">&bullet;</span>
                                            <span>{{ post.date }}</span></div>
                                        <span>{{ post.title }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="footer-legal">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <div class="copyright">
                        © Copyright <strong><span>DjangoBlog</span></strong>. All Rights Reserved
                    </div>

                    <div class="credits">
                        Designed by <a href="https://github.com/manlikeclaro">ManLikeClaro</a>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    </div>

                </div>

            </div>

        </div>
    </div>

</footer>