{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <main id="main">
        <section>
            <div class="container">
                <div class="row">

                    <div class="col-md-12" data-aos="fade-up">
                        <h3 class="category-title">All Blog Posts</h3>

                        {% for post in posts %}
                        	<div class="d-md-flex post-entry-2 half">
                            <a href="{% url 'single-post' post.slug %}" class="me-4 thumbnail">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                            </a>
                            <div>
                                <div class="post-meta"><span class="date">{{ post.category }}</span> <span
                                        class="mx-1">&bullet;</span> <span>{{ post.date }}</span></div>
                                <h3><a href="{% url 'single-post' post.slug %}">{{ post.title }}</a></h3>
                                <p>{{ post.content }}</p>
                                <div class="d-flex align-items-center author">
                                    <div class="photo">
                                        <img src="{{ post.author.profile_pic.url }}"
                                             alt="" class="img-fluid">
                                    </div>
                                    <div class="name">
                                        <h3 class="m-0 p-0">{{ post.author.full_name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        <div class="text-start py-4">
                            <div class="custom-pagination">
                                <a href="#" class="prev">Previous</a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#" class="next">Next</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}