{% extends 'blog/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
    Category
{% endblock %}

{% block content %}
    <main id="main">
        <!-- ======= Culture Category Section ======= -->
        <section class="category-section">
            <div class="container" data-aos="fade-up">

                <div class="section d-flex justify-content-between align-items-center mb-1">
                    <h2 class="category-title">Category: {{ category.name }}</h2>
                    {#                    <div><a href="category.html" class="more">See All Culture</a></div>#}
                </div>

                <div class="row">
                    <div class="col-md-9">
                        {% for post in posts %}
                            <div class="d-lg-flex post-entry-2">
                                <a href="{% url 'single-post' post.slug %}"
                                   class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                                    <img src="{{ post.image.url }}" alt="" class="img-fluid">
                                </a>
                                <div>
                                    <div class="post-meta"><span class="date">{{ post.category }}</span> <span
                                            class="mx-1">&bullet;</span> <span>{{ post.date }}</span></div>
                                    <h3><a href="single-post.html">{{ post.title }}</a></h3>
                                    <p>{{ post.excerpt }}</p>
                                    <div class="d-flex align-items-center author">
                                        <div class="photo"><img src="{{ post.author.profile_pic.url }}" alt=""
                                                                class="img-fluid">
                                        </div>
                                        <div class="name">
                                            <h3 class="m-0 p-0">{{ post.author }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="text-center py-4">
                            <div class="custom-pagination">
                                <a href="#" class="prev">Previous</a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#" class="next">Next</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        {% for post in posts %}
                            <div class="post-entry-1 border-bottom">
                                <div class="post-meta"><span class="date">{{ post.category }}</span> <span class="mx-1">&bullet;</span>
                                    <span>{{ post.date }}</span></div>
                                <h2 class="mb-2"><a href="{% url 'single-post' post.slug %}">{{ post.title }}</a></h2>
                                <span class="author mb-3 d-block">{{ post.author }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section> <!-- End Culture Category Section -->
    </main><!-- End #main -->
{% endblock %}