{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Post Details
{% endblock %}

{% block content %}
    <main id="main">

        <section class="single-post-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 post-content" data-aos="fade-up">

                        <!-- ======= Single Post Content ======= -->
                        <div class="single-post">
                            <div class="post-meta"><span class="date">{{ post.category }}</span> <span class="mx-1">&bullet;</span>
                                <span>{{ post.date }}</span></div>
                            <h1 class="mb-5">{{ post.title }}</h1>
                            <p><span class="firstcharacter">{{ post.content | slice:":1" }}</span>
                                {{ post.content | slice:"1:"}} </p>

                            <p>{{ post.content }}</p>

                            <figure class="my-4">
                                <img src="{{ post.image.url }}" alt="" class="img-fluid">
                                <figcaption>{{ post.excerpt }}</figcaption>
                            </figure>

                            <p>{{ post.content }}</p>
                            <p>{{ post.content }}</p>

                        </div><!-- End Single Post Content -->

                        <!-- ======= Comments ======= -->
                        {% include 'blog/sections/comments.html' %} <!-- End Comments -->


                        <!-- ======= Comments Form ======= -->
{#                        {% include 'blog/sections/comments-form.html' %}#}
                        <div class="row">
            <div class="col-lg-6 mb-3">
                <label for="comment-name">Name</label>
                <input type="text" class="form-control" id="comment-name"
                       placeholder="Enter your name">
            </div>
            <div class="col-lg-6 mb-3">
                <label for="comment-email">Email</label>
                <input type="text" class="form-control" id="comment-email"
                       placeholder="Enter your email">
            </div>
            <div class="col-12 mb-3">
                <label for="comment-message">Message</label>

                <textarea class="form-control" id="comment-message"
                          placeholder="Enter your name" cols="30" rows="10"></textarea>
            </div>
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Post comment">
            </div>
        </div> <!-- End Comments Form -->

                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}